<!DOCTYPE html> {namespace neos=Neos\Neos\ViewHelpers} {namespace ts=TYPO3\TypoScript\ViewHelpers}
<html>

<head>
    <f:section name="stylesheets">
        <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/vendor.81ce96f2.css', package: 'Js.Glueckstuebli')}">
        <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/main.8e5bc74e.css', package: 'Js.Glueckstuebli')}">
    </f:section>
</head>

<body>
    <f:section name="body">
        <div class=container>

            <div class="jumbotron wald">
                <h1>GlücksStübli</h1>
                <p class=lead> <b>Schwarzwaldladen für das Besondere</b> </p>
                <p class="ledger small"> Schlosshofweg 2
                    <br> 79215 Elzach
                    <br> <i class="fa fa-phone"></i> Telefon: 0762 909 186
                    <br> <i class="fa fa-mobile"></i> Handy: 0178 615 42 03 </p>
                <p><a class="btn btn-primary" href=mailto:info@gluecksstuebli.de><i class="fa fa-envelope-o"></i> info@gluecksstuebli.de</a></p>
                <p>
                	Mehr erfahren Sie auch hier <a href="http://www.s-fleckli.de">www.s-fleckli.de</a>
                </p>
            </div>
            <div class=footer>
                <p> GlücksStübli – Schwarzwaldladen mit <i class="fa fa-heart text-primary"></i></p>
            </div>
        </div>
        <nav class="menu">
            {parts.menu -> f:format.raw()}
        </nav>
        <div class="content">
            {content.main -> f:format.raw()}
        </div>
    </f:section>
    <f:section name="bodyScripts">
        <!-- Put your scripts inclusions for the end of the body here, they will be included in your website by TypoScript -->
    </f:section>
</body>

</html>
