<!DOCTYPE html> {namespace neos=Neos\Neos\ViewHelpers} {namespace ts=Neos\Fusion\ViewHelpers}
<html>

<head>
    <f:section name="stylesheets">
        <link rel="apple-touch-icon" sizes="57x57" href="{f:uri.resource(path: 'Favicons/apple-icon-57x57.png', package: 'Js.Glueckstuebli')}">
        <link rel="apple-touch-icon" sizes="60x60" href="{f:uri.resource(path: 'Favicons/apple-icon-60x60.png', package: 'Js.Glueckstuebli')}">
        <link rel="apple-touch-icon" sizes="72x72" href="{f:uri.resource(path: 'Favicons/apple-icon-72x72.png', package: 'Js.Glueckstuebli')}">
        <link rel="apple-touch-icon" sizes="76x76" href="{f:uri.resource(path: 'Favicons/apple-icon-76x76.png', package: 'Js.Glueckstuebli')}">
        <link rel="apple-touch-icon" sizes="114x114" href="{f:uri.resource(path: 'Favicons/apple-icon-114x114.png', package: 'Js.Glueckstuebli')}">
        <link rel="apple-touch-icon" sizes="120x120" href="{f:uri.resource(path: 'Favicons/apple-icon-120x120.png', package: 'Js.Glueckstuebli')}">
        <link rel="apple-touch-icon" sizes="144x144" href="{f:uri.resource(path: 'Favicons/apple-icon-144x144.png', package: 'Js.Glueckstuebli')}">
        <link rel="apple-touch-icon" sizes="152x152" href="{f:uri.resource(path: 'Favicons/apple-icon-152x152.png', package: 'Js.Glueckstuebli')}">
        <link rel="apple-touch-icon" sizes="180x180" href="{f:uri.resource(path: 'Favicons/apple-icon-180x180.png', package: 'Js.Glueckstuebli')}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{f:uri.resource(path: 'Favicons/android-icon-192x192.png', package: 'Js.Glueckstuebli')}">
        <link rel="icon" type="image/png" sizes="32x32" href="{f:uri.resource(path: 'Favicons/favicon-32x32.png', package: 'Js.Glueckstuebli')}">
        <link rel="icon" type="image/png" sizes="96x96" href="{f:uri.resource(path: 'Favicons/favicon-96x96.png', package: 'Js.Glueckstuebli')}">
        <link rel="icon" type="image/png" sizes="16x16" href="{f:uri.resource(path: 'Favicons/favicon-16x16.png', package: 'Js.Glueckstuebli')}">
        <link rel="manifest" href="{f:uri.resource(path: 'Favicons/manifest.json', package: 'Js.Glueckstuebli')}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{f:uri.resource(path: 'Favicons/ms-icon-144x144.png', package: 'Js.Glueckstuebli')}">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/vendor.css', package: 'Js.Glueckstuebli')}">
        <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/main.css', package: 'Js.Glueckstuebli')}">
    </f:section>
</head>

<body>
    <f:section name="body">
        <!--[if lt IE 10]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class=container>

            <div class="mad-hatter">
              {content.madhat -> f:format.raw()}
            </div>

            <div class="jumbotron wald">
                <h1>GlücksStübli</h1>
                <p class=lead> <b>Schwarzwaldladen für das Besondere</b> </p>
                <p class="ledger small"> Schlosshofweg 2
                    <br> 79215 Elzach
                    <br> <i class="fa fa-phone"></i> Telefon: 0762 909 186
                    <br> <i class="fa fa-mobile"></i> Handy: 0178 615 42 03 </p>
                <p><a class="btn btn-primary" href=mailto:info@gluecksstuebli.de><i class="fa fa-envelope-o"></i> info@gluecksstuebli.de</a></p>
                <p>
                    Mehr erfahren Sie auch hier: <a href="http://www.s-fleckli.de">www.s-fleckli.de</a>
                </p>
            </div>
            <nav class="menu">
                {parts.menu -> f:format.raw()}
            </nav>
            <div class="container content">
                {content.main -> f:format.raw()}
            </div>
            <div class="footer">
                <p>
                Wer alle Lebewesen lachen hört, kann Wolken schmecken!
                <br class="hidden-md hidden-lg">
                GlücksStübli – Schwarzwaldladen mit <i class="fa fa-heart text-primary"></i></p>
            </div>
        </div>
    </f:section>
    <f:section name="bodyScripts">
        <script src={f:uri.resource(path: 'JavaScript/vendor.js', package: 'Js.Glueckstuebli')}></script>
        <script src={f:uri.resource(path: 'JavaScript/plugins.js', package: 'Js.Glueckstuebli')}></script>
        <script src={f:uri.resource(path: 'JavaScript/main.js', package: 'Js.Glueckstuebli')}></script>
    </f:section>
</body>

</html>
