// Navigation
//

.menu-toggle {
  display: flex;
  align-items: center;
  line-height: 1;
	margin-bottom: 0.4em;

  i	 {
	font-size: 1.2em;
	margin-right: 0.4em;
  }
}

.container > nav {
  display: none;
}

ul.nav li,
.nav-link {
  color: $color-black;

  &.current,
  &.active {
	a {
		color: $color-red;
	}
  }

  &:hover {
	a {
	  color: white;
	  background: $primary;
	}
  }

}

@include media-breakpoint-up(md) {
  .menu-toggle {
	display: none;
  }

  .container > nav {
	display: block;
  }
}
